<div id="question">
	<%= @question.text %>

	<form id="question-display" action="/surveys/<%=@survey.id%>/questions/<%=@question.id%>" method="post">
	   <% @question.choices.each_with_index do |choice, index| %>
	     <input type="radio" name="choice" value="<%=choice.text%>"/><%=choice.text%>
	   <% end %>
	   <br>
	   <br>
	   <input type="submit" value="Next Question"/>
	</form>
</div>