<h3 class="center">PICK A SURVEY</h3>

<% if @error %>
	<%= @error %>
<% end %>

<div class= "surveys-list">
  <% @surveys.each do |survey| %>
    <div class="survey">
      <a href="surveys/<%= survey.id %>/questions/<%=survey.questions.first.id%>"> <%= survey.title %> </a> <p class="smaller_text inline">created by <%= survey.user.username.downcase %></p>
    </div>
  <% end %>
</div>

<p class="center"><a href="/surveys/new">Make a new survey</a></p>
